body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: left;
    margin-bottom: 18px;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.qr-form {
    display: flex;
    flex-direction: column;
}

.qr-form label {
    margin-bottom: 5px;
}

.qr-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.qr-form button {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
}

.qr-form button:hover {
    background-color: #5d0a60;
}

.qr-code-display {
    text-align: center;
    margin-top: 20px;
    display: flex; /* Enable flexbox for label and frame positioning */
    align-items: center; /* Vertically center label and frame */
}

.qr-code-display img {
    display: block;
    margin: 0 auto;
}

.qr-code-placeholder {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.qr-code-frame {
    border: 2px solid #7e8083;
    display: inline-block;
    border-radius: 4px;
    border-width: 5px;
}

.qr-code-label {
    text-align: start;
    font-size: 16px;
    transform: rotate(-90deg); /* Rotate the text */
    white-space: nowrap; /* Prevent text wrapping */
    margin-bottom: 0; /* Remove bottom margin */
}